.rowwise{
    display: inline-block;
    flex-direction: row;
    /* background-color: black; */

}
.top{
    text-align: right;
    margin-right: 1.5rem;
}
.step>p{
    width:18rem;
}
#goalsimg{
    width: 18rem;
    height: 18rem  !important;
}
.goalbutton{
    background: #2d71a1;
    background: linear-gradient(-45deg, #1391a5, #274685);
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}